$backgroundColor: #1a1a1a;
$primaryColor: #e6235c;
$borderRadius: 15px;

body {
  background-color: $backgroundColor;
}

.app {
  display: grid;
  padding: 100px 200px 0 200px;
}

.search_form {
  display: grid;
  grid-template-columns: 9fr 1fr;
  position: relative;

  input {
    border: none;
    height: 40px;
    //make the left border radius of the input field round
    border-top-left-radius: $borderRadius;
    border-bottom-left-radius: $borderRadius;
    padding: 0 10px;

    //remove the default outline of the input field
    &:focus-visible {
      outline: none;
    }
  }

  button {
    border: none;
    background-color: #f1f1f1;
    cursor: pointer;
    border-top-right-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
    background-color: $primaryColor;
    border: 1px solid #f1f1f1;
    color: white;
  }
}

.search_results {
  background-color: #f1f1f1;
  position: relative;
  .search_results__dropdown {
    background-color: white;
    position: absolute;
    width: 100%;
    display: none;
    margin-top: 5px;
    border-radius: $borderRadius;
    padding: 7px 0;
  }
  .search_results__dropdown--show {
    display: block;
  }

  .search_results__dropdown__item {
    padding: 5px;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

.result_card {
  border-radius: $borderRadius;
  border: 1px solid white;
  h1 {
    color: white;
    font-size: 14px;
    padding: 0;
    margin: 0;
    padding: 5px 20px;
  }
  p {
    color: white;
    margin: 0;
    padding: 5px 20px;
  }
}

.results {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 10px;
}

.create_new {
  position: absolute;
  bottom: 0;
  display: grid;
  justify-content: space-around;
  width: 100%;
}

.create_new_form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-rows: repeat(3, 40px);
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  gap: 10px;
  border-radius: $borderRadius;

  .create_new_form__names {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    input {
      padding: 10px;
      border-radius: $borderRadius;
    }
  }

  .create_new_form__info {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    gap: 10px;
    input {
      padding: 10px;
      border-radius: $borderRadius;
    }
  }
}

.create_new_button {
  display: grid;
  grid-template-columns: 100px;
  justify-content: center;
}

.create_new_form__button {
  display: grid;
  justify-content: center;
  button {
    border: none;
    background-color: $primaryColor;
    color: white;
    cursor: pointer;
    border-radius: $borderRadius;
    padding: 10px;
    margin-bottom: 10px;
  }
}

.create_new_button__button {
  border: none;
  background-color: $primaryColor;
  color: white;
  cursor: pointer;
  border-radius: $borderRadius;
  padding: 10px;
  margin-bottom: 10px;
}

/*Alert *************/
.alert {
  // display: block;
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #f44336;
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
  animation: slideInRight 0.5s ease forwards;
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(120%);
  }
}
